body {
  font-family: roboto;
}

.navbar-brand {
  position: relative;
  color: #ed9aba !important;
}

#collapsable-nav {
  clear: left;
  background-color: #ed9aba;

  a {
    color: white;
  }

  a:hover {
    font-weight: 700;
    background-color: #b0748b;
  }
}

h1 {
  font-weight: bold;
}

.content-box {
  background-color: #74b08d;
  padding: 20px;
  margin: 40px;

  p.text-center {
    font-size: 200%;
    font-weight: bold;
  }
}
