.navbar-brand {
  position: relative;
  color: #ed9aba !important;
}

#collapsable-nav {
  clear: left;
  background-color: #ed9aba;

  a {
    text-align: center;
    color: white;
  }

  a:hover {
    font-weight: 700;
    background-color: #b0748b;
  }
}

h1 {
  font-weight: bold;
}

.container-fluid {
  background-color: #74b08d;
  margin: 20px 20px;

  p.text-center {
    font-size: 200%;
  }
}
